// Height CHIP
$height-chip: 36px;

// Width CHIP
$width-chip: 60px;
$width-chip-without-close: 33px;

// Width Icon
$width-border-icon-large: 32px;
$width-border-icon-medium: 28px;
$width-border-icon-small: 16px;

// Height Icon
$height-border-icon-large: 32px;
$height-border-icon-medium: 28px;
$height-border-icon-small: 16px;

// Border Radius Icon
$border-radius-width-icon: 50%;

// Border Radius mode TAG
$border-radius-badge: 100px;

// Border Radius mode CHIP
$border-radius-badge-chip: 4px;

// Width Sizes Icons
$width-icon-large: 24px;
$width-icon-medium: 21px;
$width-icon-small: 12px;

// Height Sizes Icons
$height-icon-large: 24px;
$height-icon-medium: 21px;
$height-icon-small: 12px;

// Font Size Icon
$font-size-icon-large: 24px;
$font-size-icon-medium: 21px;
$font-size-icon-small: 12px;