// Basic
$color-gray-gray-200: #F7F9FB;
$color-gray-gray-500: #EEF2F6;
$color-gray-gray-700: #77797B;
$color-gray-gray-800: #77797B;
$color-gray-gray-900: #4F5152;

// Tags Review
$color-semantic-danger-700: #EC2D30;
$color-semantic-danger-200: #FFEBEE;

$color-semantic-warning-700: #FE9B0E;
$color-semantic-warning-200: #FFF7E1;

$color-semantic-approved-700: #0C9D61;
$color-semantic-approved-200: #E5F5EC;

$color-semantic-informative-700: #3A70E2;
$color-semantic-informative-200: #E4F2FF;

// Color Icon
$color-icon: #FFFFFF;