// Padding
$padding-large: 4px 24px 4px 4px;
$padding-medium: 4px 12px 4px 4px;
$padding-small: 3px 12px 3px 4px;
$padding-default-chip: 6px 8px 6px 8px;

// Gap TAG
$gap-large: 8px;
$gap-medium: 4px;
$gap-small: 4px;

// Gap CHIP
$gap-chip: 6px;

