// Font Family
$font-family-primary: 'PingFang SC', 'Helvetica Neue', sans-serif;

// Weight
$font-weight-medium: 500;

// Size
$font-size-large: '16px';
$font-size-medium: '14px';
$font-size-small: '12px';

