<span 
  class="badge"
  [ngClass]="{
    'primary': color === 'primary',
    'success': color === 'success', 
    'warning': color === 'warning',
    'danger': color === 'danger',
    'info': color === 'info',
    'primary-chip': color === 'primary-chip',
    'chip': type === 'chip', 
    'tag': type === 'tag',
    'without-close': !showButtonClose(),
    'large': size === 'large', 
    'medium': size === 'medium',
    'small': size === 'small',
    'center-text': !hasIcon
  }"
  [attr.role]="type === 'chip' ? 'button' : null"
  [attr.tabindex]="type === 'chip' ? 0 : null"
>
  <span class="container-icon" *ngIf="hasIcon">
    <mat-icon class="icon">{{ icon }}</mat-icon>
  </span>

  <span class="label">{{ label }}</span>
  <button 
    *ngIf="type === 'chip' && showButtonClose()"
    class="close-btn"
    (click)="handleClose($event)"
  >
    <mat-icon>close</mat-icon>
  </button>
</span>
