@use '../../../styles/tokens/index.scss' as *;

.badge {
  cursor: default;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  font-family: $font-family-primary;
  font-weight: $font-weight-medium;
  border-radius: $border-radius-badge;

  &.info {
    background-color: $color-semantic-informative-200;
    color: $color-semantic-informative-700;
  }

  &.success {
    background-color: $color-semantic-approved-200;
    color: $color-semantic-approved-700;
  }

  &.warning {
    background-color: $color-semantic-warning-200;
    color: $color-semantic-warning-700;
  }

  &.danger {
    background-color: $color-semantic-danger-200;
    color: $color-semantic-danger-700;
  }

  &.primary {
    background-color: $color-gray-gray-500;
    color: $color-gray-gray-800;
  }

  &.chip {
    cursor: pointer;
    border-radius: $border-radius-badge-chip;
    background-color: $color-gray-gray-200;
    color: $color-gray-gray-900;
    height: $height-chip;
    gap: $gap-chip;

    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      text-align: center;
    }

    &.large {
      width: $width-chip-closeable;
      height: $height-chip;
      gap: $gap-chip;
      padding: $padding-small;
    }

    &.without-close {
      width: $width-chip-without-close;
    }

} 

  // VARIANTS OF SIZE

  &.large {
    padding: $padding-large;
    font-size: $font-size-large;
    gap: $gap-large;

    .container-icon {
      width: $width-border-icon-large;
      height: $height-border-icon-large;
    }

    .icon {
      font-size: $font-size-icon-large;
      width: $width-icon-large;
      height: $height-icon-large;
    }
  }

  &.medium {
    padding: $padding-medium;
    font-size: $font-size-medium;
    gap: $gap-medium;

    .container-icon {
      width: $width-border-icon-medium;
      height: $height-border-icon-medium;
    }

    .icon {
      font-size: $font-size-icon-medium;
      width: $width-icon-medium;
      height: $height-icon-medium;
    }
  }

  &.small {
    padding: $padding-small;
    font-size: $font-size-small;
    gap: $gap-small;

    .container-icon {
      width: $width-border-icon-small;
      height: $height-border-icon-small;
    }

    .icon {
      font-size: $font-size-icon-small;
      width: $width-icon-small;
      height: $height-icon-small;
    }
  }

  .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: currentColor;
    border-radius: $border-radius-width-icon;

    .icon {
      color: $color-icon;
    }
  }

  .close-btn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    .mat-icon {
      font-size: 20px;
      color: $color-gray-gray-700;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


.badge.center-text {
  width: 100%;
  justify-content: center;
  align-items: center;

  .label {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}