<div class="container-titles">
  <div class="size-group" *ngFor="let size of sizes">
    <span class="title">{{ size | titlecase }}</span>
    <div class="variants">
      <ng-container *ngFor="let state of statesTagsVariants">
    <app-badge
      [ngClass]="{
        'chip': state.type === 'chip',
      }"
      *ngIf="state.size === size"
      [type]="state.type"
      [color]="state.color"
      [icon]="state.icon"
      [label]="state.label"
      [size]="state.size || 'large'"
    ></app-badge>
      </ng-container>
    </div>
  </div>
</div>