.variants {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.title{
    font-weight: 500;
}

.container-titles {
    display: flex;
    flex-direction: row;
    gap: 300px;
}